old/
data/HPF30/
data/HPF200/
*.m~
intfig/indiv/
src/N1/*.mat
src/N1A/*.mat

*.fig

intfig/FBmodeling_controls_15-Mar-2018_817273

intfig/FBmodeling_controls_26-Mar-2018_530875

intfig/FBmodeling_patients_13-Mar-2018_706271

intfig/FBmodeling_controls_30-Mar-2018_797547

*.eps

intfig/interSubjectAGE_controls_15-Mar-2018_817301

intfig/interSubjectAGE_controls_30-Mar-2018_797554

intfig/interSubjectAGE_patients_13-Mar-2018_706293

intfig/interSubjectRegressions_controls_15-Mar-2018_817299

intfig/interSubjectRegressions_controls_30-Mar-2018_797552

intfig/interSubjectRegressions_patients_13-Mar-2018_706291

intfig/interSubjectSLA_controls_15-Mar-2018_817303

intfig/interSubjectSLA_controls_30-Mar-2018_797556

intfig/interSubjectSLA_patients_13-Mar-2018_706294

pubfig/svg/

ext/colorspace/

ext/cbrewer2/

*.png
